langchain-core>=0.3.27
langchain-community>=0.2.19
langchain-groq>=0.2.2
langchain-huggingface>=0.0.3
streamlit==1.38.0
opencv-python-headless==4.8.1.78
numpy==1.24.3
Pillow==10.0.0
ultralytics==8.0.196
chromadb==0.4.22
sentence-transformers==2.2.2
faiss-cpu==1.7.4
python-dotenv==1.0.0
torch>=2.0.0
transformers>=4.36.0
fpdf
gtts
python-docx
