langchain-core==0.3.27
langchain-community==0.3.13
langchain-groq>=0.2.2
langchain-huggingface>=0.1.52
streamlit==1.38.0
opencv-python-headless==4.8.1.78
numpy==1.24.3
Pillow==10.0.0
ultralytics==8.0.196
chromadb==0.4.22
sentence-transformers>=2.6.0
faiss-cpu==1.7.4
python-dotenv==1.0.0
torch>=2.0.0
transformers>=4.36.0
fpdf==1.7.2
gtts
python-docx
